<div class="container">
  {{#if errorMessages}}
    {{error-summary errors=errorMessages}}
  {{/if}}
  <div class="single-form-container">
    <h2>This notebook belongs to</h2>
    <form {{action "signup" on="submit"}}>
      {{placeholder-text-field type="text" class="input--chromeless large" value=name placeholder="Name" }}
      {{placeholder-text-field type="text" class="input--chromeless large" value=email placeholder="Email" }}
      {{placeholder-text-field type="password" class="input--chromeless large" value=password placeholder="Password" }}
      <button type="submit" class="button">Start</button>
    </form>
  </div>
</div>
